.footer {
  background-color: var(--color-footer-bg);
  color: var(--color-footer);
  height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--font-size-footer);
  padding: var(--global-padding);
  font-weight: bold;
}
