.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-header-bg);
  padding: var(--global-padding);
  color: var(--color-menu);
  height: var(--header-height);
}

.logo {
  width: 110px;
}

.nav {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: var(--color-menu);
  text-decoration: none;
  font-size: var(--font-size-menu);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  height: 25px;
  margin-right: 5px;
}
