* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: calc(100vh - 100px);
  padding: 60px 40px 20px 40px;
}

.text-center {
  text-align: center;
}

@media (max-width: 999px) {
  .hide-tablet {
    display: none;
  }
}

@media (max-width: 699px) {
  .hide-mobile {
    display: none;
  }
}

@media (min-width: 699px) {
    .hide-desktop {
      display: none;
    }
  }
  